.headerSearch{
    height: 100px;
    text-align: center;
    padding: 1px 0;
    background-color: #E8ECEF;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.search-box{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    max-width: 600px;
    width: 80%;
}
.search-results{
    max-width: 600px;
    width: 65%;
    margin: 20px auto 0 auto;
   
}
hr{
    border: none;
    height: 1px;
    background-color: lightgray;
}
p{
    margin: 10px 0;
}
a{
    color: #1087FA;
    margin-top: 40px;
    margin-left: 10px;
  }
